@charset "utf-8";

/* General Styles */
header {
  height: 50px;
  margin-bottom: 10px;
  background: $lighter-color;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: $sans_serif;
}

.holder {
  width: 960px;
  margin: auto;
}

#wrapper {
  min-height: 100%;
  position: absolute;
  width: 100%;
  // padding-bottom: 80px; // should be used if there are divs with float left on main content
}

#main-content {
  margin: 0 auto;
  padding-bottom: 100px;
  width: 960px;
}

footer {
  background: $darker-color;
  color: $lighter-color;
  bottom: 0px;
  height: 40px;
  left: 0;
  padding-top: 18px;
  position: absolute;
  width: 100%;
}
